Node-red-saved/flows (3).json
[
    {
        "id": "2e2e8b1c0774663a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49f4a7dbee841bc4",
        "type": "mqtt in",
        "z": "2e2e8b1c0774663a",
        "name": "",
        "topic": "esp32/output",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7bf5f96dafd79465",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "cacfbd8acb751c7e",
                "1a67458d65abe5fa",
                "b2bde713b3024977",
                "ba92b1bd88be8b96",
                "c0e6f53c8d26a243",
                "c89b0602b5301664"
            ]
        ]
    },
    {
        "id": "d29f1492d27d9a8c",
        "type": "join",
        "z": "2e2e8b1c0774663a",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 80,
        "wires": [
            [
                "ea9b9939be28cff6",
                "b1c453375c0f2ef9"
            ]
        ]
    },
    {
        "id": "b2bde713b3024977",
        "type": "function",
        "z": "2e2e8b1c0774663a",
        "name": "Temp",
        "func": "let tempMsg = {\n    topic: \"temp\",\n    payload: msg.payload.temp\n};\nreturn tempMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "d29f1492d27d9a8c"
            ]
        ]
    },
    {
        "id": "cacfbd8acb751c7e",
        "type": "function",
        "z": "2e2e8b1c0774663a",
        "name": "Humid",
        "func": "let humidMsg = {\n    topic: \"humid\",\n    payload: msg.payload.humid\n};\nreturn humidMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": [
            [
                "d29f1492d27d9a8c"
            ]
        ]
    },
    {
        "id": "b1c453375c0f2ef9",
        "type": "debug",
        "z": "2e2e8b1c0774663a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "c6a3b16c57433591",
        "type": "inject",
        "z": "2e2e8b1c0774663a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "25fe2fa646f260a2"
            ]
        ]
    },
    {
        "id": "c417c38fdd0067ff",
        "type": "debug",
        "z": "2e2e8b1c0774663a",
        "name": "Read From DB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "cd77153b6aaef3d2",
        "type": "inject",
        "z": "2e2e8b1c0774663a",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "25fe2fa646f260a2"
            ]
        ]
    },
    {
        "id": "25fe2fa646f260a2",
        "type": "template",
        "z": "2e2e8b1c0774663a",
        "name": "read",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM iotsensors;",
        "output": "str",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "4cc8013a3a6e6117"
            ]
        ]
    },
    {
        "id": "6c67237ca75ff3f9",
        "type": "sqlite",
        "z": "2e2e8b1c0774663a",
        "mydb": "5d8bb6bbe6585ad6",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 940,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4cc8013a3a6e6117",
        "type": "sqlite",
        "z": "2e2e8b1c0774663a",
        "mydb": "5d8bb6bbe6585ad6",
        "sqlquery": "msg.topic",
        "sql": "SELECT timestamp, temperature AS temp, humidity AS humid FROM sensor_data ORDER BY timestamp DESC LIMIT 10;",
        "name": "",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "c417c38fdd0067ff",
                "4076b7cc077be463"
            ]
        ]
    },
    {
        "id": "4076b7cc077be463",
        "type": "ui_template",
        "z": "2e2e8b1c0774663a",
        "group": "d17eae550171b1e0",
        "name": "",
        "order": 0,
        "width": "16",
        "height": "10",
        "format": "<style>\n  table {\n    width: 100%;\n    border-collapse: collapse;\n    font-family: Arial, sans-serif;\n  }\n\n  th,\n  td {\n    border: 1px solid #ddd;\n    padding: 10px;\n    text-align: left;\n  }\n\n  th {\n    background-color: #D32F2F;\n    color: white;\n  }\n\n  tr:nth-child(even) {\n    background-color: #FFEBEE;\n  }\n\n  tr:hover {\n    background-color: #FFCDD2;\n  }\n</style>\n\n<table>\n  <tr>\n    <th>timestamp</th>\n    <th>temp</th>\n    <th>humid</th>\n    <th>soil</th>\n    <th>soil_percent</th>\n    <th>ldr</th>\n  </tr>\n  <tr ng-repeat=\"x in (msg.payload | orderBy:'timestamp' | limitTo:99999999)\">\n    <td>{{x.timestamp}}</td>\n    <td>{{x.temp}}</td>\n    <td>{{x.humid}}</td>\n    <td>{{x.soil}}</td>\n    <td>{{x.soil_percent}}</td>\n    <td>{{x.ldr}}</td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 900,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ed4da50fb83e0827",
        "type": "sqlite",
        "z": "2e2e8b1c0774663a",
        "mydb": "c454a927bc66584d",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "018eeeb5de33ad9b",
        "type": "template",
        "z": "2e2e8b1c0774663a",
        "name": "Create a table",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "create table\n    iotsensors(\n        id integer primary key,\n        timestamp string,\n        temp string,\n        humid string,\n        soil string,\n        soil_percent string,\n        ldr string\n)\n;",
        "output": "str",
        "x": 360,
        "y": 540,
        "wires": [
            [
                "ed4da50fb83e0827"
            ]
        ]
    },
    {
        "id": "8013e39a3b7a9f86",
        "type": "template",
        "z": "2e2e8b1c0774663a",
        "name": "Drop a table",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "drop table\n    iotsensors;",
        "output": "str",
        "x": 350,
        "y": 600,
        "wires": [
            [
                "ed4da50fb83e0827"
            ]
        ]
    },
    {
        "id": "cfb0b42964636722",
        "type": "inject",
        "z": "2e2e8b1c0774663a",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "018eeeb5de33ad9b"
            ]
        ]
    },
    {
        "id": "fe68a5c4bbeb81b4",
        "type": "inject",
        "z": "2e2e8b1c0774663a",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "8013e39a3b7a9f86"
            ]
        ]
    },
    {
        "id": "ea9b9939be28cff6",
        "type": "template",
        "z": "2e2e8b1c0774663a",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into\niotsensors(\n    timestamp,\n    temp,\n    humid,\n    soil,\n    soil_percent,\n    ldr\n)\n\nvalues(\n    \"{{payload.timestamp}}\",\n    \"{{payload.temp}}\",\n    \"{{payload.humid}}\",\n    \"{{payload.soil}}\",\n    \"{{payload.soil_percent}}\",\n    \"{{payload.ldr}}\"\n);",
        "output": "str",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "6c67237ca75ff3f9"
            ]
        ]
    },
    {
        "id": "1a67458d65abe5fa",
        "type": "moment",
        "z": "2e2e8b1c0774663a",
        "name": "",
        "topic": "timestamp",
        "input": "",
        "inputType": "date",
        "inTz": "Asia/Bangkok",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD HH:mm:ss",
        "locale": "th_TH",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Asia/Bangkok",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "d29f1492d27d9a8c"
            ]
        ]
    },
    {
        "id": "ba92b1bd88be8b96",
        "type": "function",
        "z": "2e2e8b1c0774663a",
        "name": "Soil",
        "func": "let soilMsg = {\n    topic: \"soil\",\n    payload: msg.payload.soil\n};\nreturn soilMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "d29f1492d27d9a8c"
            ]
        ]
    },
    {
        "id": "c89b0602b5301664",
        "type": "function",
        "z": "2e2e8b1c0774663a",
        "name": "LDR",
        "func": "let ldrMsg = {\n    topic: \"ldr\",\n    payload: msg.payload.ldr\n};\nreturn ldrMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "d29f1492d27d9a8c"
            ]
        ]
    },
    {
        "id": "c0e6f53c8d26a243",
        "type": "function",
        "z": "2e2e8b1c0774663a",
        "name": "Soil_percent",
        "func": "let soil_percentMsg = {\n    topic: \"soil_percent\",\n    payload: msg.payload.soil_percent\n};\nreturn soil_percentMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "d29f1492d27d9a8c"
            ]
        ]
    },
    {
        "id": "1eaa89308fd54496",
        "type": "ui_chart",
        "z": "2e2e8b1c0774663a",
        "name": "",
        "group": "d17eae550171b1e0",
        "order": 2,
        "width": "8",
        "height": "6",
        "label": "Soil chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#7f330a",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "eeb27908ed776094",
        "type": "inject",
        "z": "2e2e8b1c0774663a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "faad21d3717b8b10"
            ]
        ]
    },
    {
        "id": "faad21d3717b8b10",
        "type": "function",
        "z": "2e2e8b1c0774663a",
        "name": "function 3",
        "func": "msg.topic = \"SELECT * FROM iotsensors ORDER BY timestamp ASC;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 680,
        "wires": [
            [
                "f6d388c7646dea5b"
            ]
        ]
    },
    {
        "id": "99f7d7b7b6618f9f",
        "type": "function",
        "z": "2e2e8b1c0774663a",
        "name": "Temp chart",
        "func": "let data = [];\nlet now = new Date();\nlet cutoff = new Date(now.getTime() - 3 * 60 * 60 * 1000); // ย้อนหลัง 6 ชั่วโมง\n\nfor (let row of msg.payload) {\n    let time = new Date(row.timestamp);\n    if (time >= cutoff) {\n        data.push({ x: time, y: row.temp });\n    }\n}\n\nmsg.payload = [{\n    series: [\"Temp\"],\n    data: [data],\n    labels: data.map(d => d.x.toLocaleTimeString())\n}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 720,
        "wires": [
            [
                "dd939d953c5137e4"
            ]
        ]
    },
    {
        "id": "dd939d953c5137e4",
        "type": "ui_chart",
        "z": "2e2e8b1c0774663a",
        "name": "",
        "group": "d17eae550171b1e0",
        "order": 2,
        "width": "8",
        "height": "6",
        "label": "Temp chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#4db2fe",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "f6d388c7646dea5b",
        "type": "sqlite",
        "z": "2e2e8b1c0774663a",
        "mydb": "5d8bb6bbe6585ad6",
        "sqlquery": "msg.topic",
        "sql": "SELECT timestamp, temperature AS temp, humidity AS humid FROM sensor_data ORDER BY timestamp DESC LIMIT 10;",
        "name": "",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "596dc3d0334bd76a",
                "99f7d7b7b6618f9f",
                "d4f54aced359bce8",
                "ce1ea5bfc096ed24"
            ]
        ]
    },
    {
        "id": "596dc3d0334bd76a",
        "type": "function",
        "z": "2e2e8b1c0774663a",
        "name": "Soil chart",
        "func": "let data = [];\nlet now = new Date();\nlet cutoff = new Date(now.getTime() - 3 * 60 * 60 * 1000); // ย้อนหลัง 6 ชั่วโมง\n\nfor (let row of msg.payload) {\n    let time = new Date(row.timestamp);\n    if (time >= cutoff) {\n        data.push({ x: time, y: row.soil_percent });\n    }\n}\n\nmsg.payload = [{\n    series: [\"Soil\"],\n    data: [data],\n    labels: data.map(d => d.x.toLocaleTimeString())\n}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 680,
        "wires": [
            [
                "1eaa89308fd54496"
            ]
        ]
    },
    {
        "id": "d4f54aced359bce8",
        "type": "function",
        "z": "2e2e8b1c0774663a",
        "name": "Humid chart",
        "func": "let data = [];\nlet now = new Date();\nlet cutoff = new Date(now.getTime() - 3 * 60 * 60 * 1000); // ย้อนหลัง 6 ชั่วโมง\n\nfor (let row of msg.payload) {\n    let time = new Date(row.timestamp);\n    if (time >= cutoff) {\n        data.push({ x: time, y: row.humid });\n    }\n}\n\nmsg.payload = [{\n    series: [\"Humid\"],\n    data: [data],\n    labels: data.map(d => d.x.toLocaleTimeString())\n}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 760,
        "wires": [
            [
                "d48626da5004245f"
            ]
        ]
    },
    {
        "id": "d48626da5004245f",
        "type": "ui_chart",
        "z": "2e2e8b1c0774663a",
        "name": "",
        "group": "d17eae550171b1e0",
        "order": 2,
        "width": "8",
        "height": "6",
        "label": "Humid chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a8ff05",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "ce1ea5bfc096ed24",
        "type": "function",
        "z": "2e2e8b1c0774663a",
        "name": "LDR chart",
        "func": "let data = [];\nlet now = new Date();\nlet cutoff = new Date(now.getTime() - 3 * 60 * 60 * 1000); // ย้อนหลัง 6 ชั่วโมง\n\nfor (let row of msg.payload) {\n    let time = new Date(row.timestamp);\n    if (time >= cutoff) {\n        data.push({ x: time, y: row.ldr });\n    }\n}\n\nmsg.payload = [{\n    series: [\"Light(LDR)\"],\n    data: [data],\n    labels: data.map(d => d.x.toLocaleTimeString())\n}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 800,
        "wires": [
            [
                "a817c0feaa5b817c"
            ]
        ]
    },
    {
        "id": "a817c0feaa5b817c",
        "type": "ui_chart",
        "z": "2e2e8b1c0774663a",
        "name": "",
        "group": "d17eae550171b1e0",
        "order": 2,
        "width": "8",
        "height": "6",
        "label": "LDR chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "5000",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2bfd86",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "7bf5f96dafd79465",
        "type": "mqtt-broker",
        "name": "esp32/button",
        "broker": "mqtt://192.168.137.191",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5d8bb6bbe6585ad6",
        "type": "sqlitedb",
        "db": "/home/saki/Desktop/Project_IoT/data.db",
        "mode": "RWC"
    },
    {
        "id": "d17eae550171b1e0",
        "type": "ui_group",
        "name": "Real-time Sensors Monitoring",
        "tab": "9d1e066f1e513150",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c454a927bc66584d",
        "type": "sqlitedb",
        "db": "/home/saki/Desktop/Project_IoT/data.db",
        "mode": "RWC"
    },
    {
        "id": "9d1e066f1e513150",
        "type": "ui_tab",
        "name": "All-data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce0d022861e071b0",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-sqlite": "1.1.1",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-moment": "5.0.0"
        }
    }
]